.user-number-wrapper {
  background-image: var(--gradientColor-card);
  padding: calc(var(--spacing-ref) * 4) 0;
  justify-items: center;
  margin-top: 2rem;
}

.user-number-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--spacing-ref) * 2);
  width: 100%;
}

.user-number-card {
  border: 1px solid var(--mainColor);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing-ref) * 2);
  background-color: var(--cardsOpacity);

  & h2 {
    color: var(--mainColor);
    font-size: var(--font-size-h2);
    font-family: var(--title-font);
    text-align: left;
    letter-spacing: var(--spacing-letter);
    line-height: 1;
    padding-bottom: var(--spacing-ref);
    width: 100%;
  }
}

.user-number {
  color: var(--secondaryColor);
  font-size: calc(var(--font-size-title-text) * 1.5);
  font-family: var(--text-font);
  line-height: 1.2;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .user-number-card-container {
    width: 50%;
    padding: 0;
  }
  .user-number-card {
    background-color: var(--cardsOpacity);
    width: 100%;
  }
}
