.items-label {
  font-size: calc(var(--font-size-text) * 1.2);
  font-family: var(--text-font);
  font-weight: bold;
  white-space: nowrap;
}

.items-link {
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--spacing-ref);
}

@media screen and (min-width: 768px) {
  .items-label {
    font-size: var(--font-size-text);
  }
  .items-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: var(--spacing-ref);
  }
}

@media screen and (max-width: 768px) {
  .items-link {
    transform: scale(2);
  }
}
