.menu-items-container {
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100;

  & :nth-child(1),
  & :nth-child(2),
  & :nth-child(3),
  & :nth-child(4),
  & :nth-child(5) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
  }

  @media screen and (max-width: 1024px) {
    width: 30%;
  }
}

.menu-items-desktop {
  gap: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.MuiBottomNavigation-root {
  z-index: 100;
}

.menu-items {
  gap: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.calendly-button-menu {
  all: unset;
  color: var(--secondaryColor);
  cursor: pointer;
  font-size: calc(var(--font-size-text) * 1.2);
  font-family: var(--text-font-bold);
}

@media screen and (min-width: 768px) {
  .menu-items-bottom-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .MuiButtonBase-root {
    top: 0 !important;
  }

  .calendly-button-menu {
    font-size: var(--font-size-text);
    padding-right: var(--spacing-ref);
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .menu-items-container {
    width: 100%;
  }
}
