.hero-banner-wrapper {
  width: 100%;
  background: var(--gradientColor-card);
  position: relative;
  overflow: hidden;
}

.hero-banner-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: var(--spacing-ref);
}

.hero-banner-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-banner-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.hero-banner-content {
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-banner-image-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.hero-banner-image {
  position: relative;
  z-index: 0;
  pointer-events: none;
  transform: translateY(2rem);
  overflow: hidden;
}

.hero-vibration {
  position: absolute;
  bottom: 220px;
  left: -50px;
  width: 750px;
  opacity: 0.7;
  pointer-events: none;
  z-index: 1;
  transform: rotate(180deg);
}

.hero-vibration-right {
  position: absolute;
  top: 200px;
  right: -100px;
  width: 1050px;
  pointer-events: none;
  z-index: 0;
}

.logo_mobile {
  display: block;
  width: 50px;
  height: auto;
}
.logo_desktop {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.mobile-only {
  position: relative;
  z-index: 10;
  overflow: visible;
  margin-bottom: 2rem;
  max-width: 350px;
}

.desktop-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero-vibration {
    position: absolute;
    bottom: 250px;
    left: -50px;
    width: 450px;
    opacity: 0.7;
    pointer-events: none;
    z-index: 1;
    transform: rotate(180deg);
  }

  .hero-vibration-right {
    position: absolute;
    top: 250px;
    right: -10px;
    width: 700px;
    pointer-events: none;
    z-index: 0;
  }
}

@media screen and (max-width: 425px) {
  .hero-banner-container {
    padding-top: 4rem;
  }

  .hero-banner-content h1 {
    text-align: center;
    font-size: 3.5rem;
  }

  .hero-banner-content p {
    text-align: center;
    place-self: center;
    width: 20ch;
  }

  .logo_mobile {
    width: 50px;
    transform: translateX(20px);
  }

  .hero-vibration {
    position: absolute;
    bottom: 250px;
    left: -50px;
    width: 450px;
    opacity: 0.7;
    pointer-events: none;
    z-index: 1;
    transform: rotate(180deg);
  }

  .hero-vibration-right {
    position: absolute;
    top: 350px;
    right: -10px;
    width: 400px;
    pointer-events: none;
    z-index: 0;
  }
}

@media screen and (max-width: 320px) {
  .hero-vibration {
    position: absolute;
    bottom: 250px;
    left: -30px;
    width: 350px;
    opacity: 0.7;
    pointer-events: none;
    z-index: 0;
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 768px) {
  .hero-banner-container {
    padding: calc(var(--spacing-ref) * 5);
    overflow: hidden;
  }

  .hero-banner-body {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-ref);
  }

  .hero-banner-content {
    width: 60%;
    padding: 0;
  }

  .hero-banner-image-container {
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
    width: 40%;
    justify-content: flex-end;
  }

  .logo_mobile {
    display: none;
  }

  .logo_desktop {
    display: block;
  }

  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
    display: flex;
    justify-content: center;
  }

  .hero-banner-image-desktop {
    width: auto;
    max-height: 500px;
    object-fit: contain;
    overflow: hidden;
    z-index: 10;
  }
}
